/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    behaviors {
        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-while-undecided;
            hold-trigger-key-positions = <6 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
            hold-trigger-on-release;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <2 3 4 5 14 15 16 17 26 27 28 29 36 37 38 0 1 12 13 24 25>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };

        resetLayer: resetLayer {
            compatible = "zmk,behavior-hold-tap";
            label = "RESETLAYER";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <350>;
        };

        skq: skq {
            compatible = "zmk,behavior-sticky-key";
            label = "SKQ";
            bindings = <&sk>;
            #binding-cells = <1>;
            quick-release;
            release-after-ms = <1000>;
            ignore-modifiers;
        };

        LayerLeft: LayerLeft {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERLEFT";
            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-while-undecided;
            hold-trigger-on-release;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            bindings = <&mo>, <&kp>;

            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        LayerRight: LayerRight {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYERRIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            flavor = "balanced";
            hold-while-undecided;
            hold-trigger-on-release;
            hold-trigger-key-positions = <2 3 4 5 14 15 16 17 26 27 28 29 36 37 38 0 1 12 13 24 25>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
        };
    };

    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <9 10>;
            layers = <0 1 2 3>;
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
        };

        enter {
            bindings = <&kp ENTER>;
            key-positions = <4 3>;
            layers = <0 2 1 3>;
            require-prior-idle-ms = <200>;
            timeout-ms = <30>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <1 2>;
            layers = <0 1 2 3>;
            timeout-ms = <30>;
            require-prior-idle-ms = <200>;
        };

        NextTab {
            bindings = <&kp LC(TAB)>;
            key-positions = <6 7>;
            layers = <0>;
            require-prior-idle-ms = <350>;
            timeout-ms = <30>;
        };

        PreviousTab {
            bindings = <&kp LC(LS(TAB))>;
            key-positions = <4 5>;
            require-prior-idle-ms = <350>;
            layers = <0>;
            timeout-ms = <30>;
        };

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <8 7>;
            timeout-ms = <30>;
            layers = <0>;
            require-prior-idle-ms = <200>;
        };

        copy {
            bindings = <&kp LG(C)>;
            key-positions = <26 27>;
            layers = <0>;
            require-prior-idle-ms = <200>;
            timeout-ms = <30>;
        };

        paste {
            bindings = <&kp LG(V)>;
            key-positions = <27 28>;
            layers = <0>;
            require-prior-idle-ms = <350>;
            timeout-ms = <30>;
        };

        undo {
            bindings = <&kp LG(Z)>;
            key-positions = <25 26>;
            layers = <0>;
            require-prior-idle-ms = <200>;
            timeout-ms = <30>;
        };

        cut {
            bindings = <&kp LG(X)>;
            key-positions = <26 28>;
            layers = <0>;
            require-prior-idle-ms = <350>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <8 9>;
            layers = <0>;
            require-prior-idle-ms = <200>;
            timeout-ms = <30>;
        };

        selectprevword {
            bindings = <&kp LA(LS(LEFT))>;
            key-positions = <13 14>;
            layers = <0>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        selectparagraph {
            bindings = <&kp LA(LS(UP_ARROW))>;
            key-positions = <14 15>;
            layers = <0>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        newTab {
            bindings = <&kp LG(T)>;
            key-positions = <18 19>;
            require-prior-idle-ms = <200>;
            timeout-ms = <30>;
            layers = <0>;
        };

        find {
            bindings = <&kp LG(F)>;
            key-positions = <16 17>;
            require-prior-idle-ms = <350>;
            layers = <0>;
            timeout-ms = <30>;
        };

        selectnextword {
            bindings = <&kp LS(LA(RIGHT))>;
            key-positions = <21 22>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
            layers = <0>;
        };

        selectnextparagraph {
            bindings = <&kp LS(LA(DOWN))>;
            key-positions = <20 21>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
            layers = <0>;
        };
    };

    macros {
        ShortcatLaunch: ShortcatLaunch {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp LEFT_SHIFT &kp SPACE>;
            label = "SHORTCATLAUNCH";
        };

        Launchpad: Launchpad {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GLOBE &kp LEFT_SHIFT &kp A>;
            label = "LAUNCHPAD";
        };
    };

    sk { quick-release; };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp LG(GRAVE)  &kp Q  &kp W                &kp E              &kp R            &kp T              &kp Y      &kp U             &kp I             &kp O                 &kp P     &kp PAGE_UP
&kp LG(TAB)    &kp A  &HML LEFT_CONTROL S  &HML LEFT_ALT D    &HML LEFT_GUI F  &kp G              &kp H      &HMR RIGHT_GUI J  &HMR RIGHT_ALT K  &HMR RIGHT_CONTROL L  &kp SEMI  &kp PAGE_DOWN
&kp GLOBE      &kp Z  &kp X                &kp C              &kp V            &kp B              &kp N      &kp M             &kp COMMA         &kp DOT               &kp FSLH  &kp END
                                           &kp LG(LS(SPACE))  &mo 1            &skq LEFT_SHIFT    &kp SPACE  &mo 2             &kp LC(TAB)
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB       &kp N1          &kp N2        &kp N3        &kp N4     &kp N5               &kp C_VOLUME_DOWN  &kp C_VOLUME_UP   &kp C_BRI_DEC  &kp C_BRIGHTNESS_INC  &kp N0            &kp ESCAPE
&kp LEFT_ALT  &kp NUMBER_6    &kp NUMBER_7  &kp N8        &kp N9     &kp N0               &kp K_PREV         &kp K_PLAY_PAUSE  &kp K_NEXT     &kp DOUBLE_QUOTES     &kp SINGLE_QUOTE  &trans
&kp GLOBE     &kp LEFT_ARROW  &kp DOWN      &kp UP_ARROW  &kp RIGHT  &kp LG(LS(SPACE))    &kp CAPSLOCK       &kp LEFT_ARROW    &kp UP_ARROW   &kp DOWN_ARROW        &kp RIGHT_ARROW   &kp LCTRL
                                            &kp ENTER     &mo 1      &skq LEFT_SHIFT      &kp SPACE          &trans            &kp BACKSPACE
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB       &kp EXCL   &kp AT         &kp HASH          &kp DLLR              &kp PRCNT                &msc SCRL_DOWN  &msc SCRL_RIGHT  &mmv MOVE_UP    &msc SCRL_LEFT   &mkp MB2   &kp PAGE_UP
&kp LEFT_ALT  &kp CARET  &kp AMPERSAND  &kp ASTERISK      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &msc SCRL_UP    &mmv MOVE_LEFT   &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &mkp MB1   &kp PAGE_DOWN
&kp GLOBE     &kp MINUS  &kp EQUAL      &kp LEFT_BRACKET  &kp RIGHT_BRACKET     &kp GRAVE                &kp HOME        &kp LEFT_ARROW   &kp UP_ARROW    &kp DOWN         &kp RIGHT  &kp END
                                        &kp ENTER         &trans                &skq LEFT_SHIFT          &kp SPACE       &trans           &kp BACKSLASH
            >;
        };

        Layer3 {
            bindings = <
&trans  &kp F1      &kp F2  &kp F3  &kp F4  &kp F5    &soft_off  &studio_unlock  &trans  &trans      &to 5       &trans
&trans  &trans      &trans  &trans  &trans  &trans    &trans     &trans          &trans  &trans      &to 4       &trans
&trans  &bt BT_CLR  &trans  &trans  &trans  &trans    &trans     &trans          &trans  &bt BT_PRV  &bt BT_NXT  &trans
                            &trans  &trans  &trans    &trans     &trans          &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &resetLayer 0 LEFT_COMMAND
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        GamingLayer {
            bindings = <
&kp TAB         &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Y    &kp U   &kp I      &kp O    &kp P     &kp ESC
&kp LCTRL       &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M   &kp COMMA  &kp DOT  &kp FSLH  &resetLayer 0 LEFT_COMMAND
                              &kp LALT  &mo 1  &kp SPACE    &kp RET  &trans  &kp BSPC
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        thirdlayer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
